.wrap {
  width: 80%;
  margin: auto;
  background: #e4e4e4;
}

.header {
  text-align: center;
  width: 100%;
  margin: auto;
  background-color: rgb(69,61,85);
}

.header img {
  width: 70%;
}

.resources {
  width: 100%;
  margin-left: 0;
  border: 2px solid black;
  overflow: hidden;
}

.resource-heading {
  margin-left: 7%;
}

.resource-list-a {
  float: left;
  padding: 10px;
  border: 2px solid white;
  min-width: 300px;
  width: 40%;
  margin-left: 5%;
}

.resource-list-b {
  float: right;
  padding: 10px;
  border: 2px solid white;
  min-width: 300px;
  width: 40%;
  margin-right: 5%;
}

blockquote {
  border: 1px solid white;
  text-align: center;
  margin-left: 0;
}

.goals {
  clear: both;
}

body {
  background: #e3e3e3;
  font-family: sans-serif;
}