/*
MISC.
*/

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

a:hover {
  text-decoration: underline;
}

ul {
  display: inline;
  -webkit-padding-start: 0;
}

li {
  display: inline;
}

li a {
  text-decoration: none;
}

.wrap {
  position: relative;
  width: 100%;
  min-height: 100%;
}

/*
HEADER
*/

header {
  color: #aaa;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  float: right;
}

ul.words {
  float: right;
  position: absolute;
  font-size: 13px;
  font-family: arial, sans-serif;
  height: 32px;
  right: 145px;
}

.words li {
  margin-right: 15px;
}

.words li, .words a {
  height: 32px;
  position: relative;
  display: inline-table;
  line-height: 32px;
  width: 20px;
}

#not-link {
  color: #999;
}

ul.images {
  float:  right;
}

header li {
  color: black;
}


#apps, #notif, #account {
  position: relative;
  text-indent: -9999px;
  display: inline-table;
  margin-right: 15px;
}

#apps {
  background: url(../img/apps.jpg) center center no-repeat;
  height: 32px;
  width: 30px;
}

#notif {
  background: url(../img/notif.jpg) center center no-repeat;
  height: 32px;
  width: 30px;
  margin: none;
}

#account {
  background: url(../img/account.jpg) no-repeat;
  height: 32px;
  width: 32px;
}


/*
MAIN
*/

.main {
  clear: both;
  position: relative;
  margin: 89px auto 0;
  padding: 10px;
  width: 60%;
  padding-bottom: 40px;
}

.main h1 {
  background: url(../img/logo.jpg) no-repeat;
  height: 92px;
  width: 278px;
  margin: 109px auto 0;
  text-indent: -9999px;
}

.main form {
  clear: both;
  width: 543px;
  margin: auto;
}

.main form input[type="submit"]{
  color: #757575;
  margin: 20px;
}

.search {
  width: 543px;
}

.change {
  width: 163px;
  height: 28px;
  position: relative;
  margin: auto;
  font-size: small;
}

/*
FOOTER
*/

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  background: #f2f2f2;
  font-family: arial,sans-serif;
  font-size: small;
  border-top: 1px solid #e1e1e1;
}

footer a {
  color: #666;
}

footer ul {
  margin: 11px 0 11px;
}

footer ul:first-of-type {
  float: left;
}

footer ul:first-of-type li {
  margin-left: 27px;
}

footer ul:last-of-type {
  float: right;
}

footer ul:last-of-type li {
  margin-right: 27px;
}